<div class="coming-soon">
    <div class="form" id="newsletter">
        <h1>Coming Soon</h1>
        <p>Iscriviti alla newsletter</p>
        <form id="form-newsletter" action="#" method="POST">
            <div class="field-wrap">
                <label>Indirizzo Email<span class="req">*</span></label>
                <input type="email" name="email" required autocomplete="off" spellcheck="false"/>
            </div>
            <button class="progress-btn" data-progress-style="fill-bottom" type="submit">
                <span class="btn">CONFERMA</span>
                <span class="progress"></span>
            </button>
        </form>
    </div>
    <div class="form" id="newsletter-success">
        <div class="notify">
            <h1>Success!</h1>
            <span class="alerticon"><img src="/common/image/success.png" alt="success"/></span>
            <p>Grazie <span style="font-style: italic;"><!--@ Name--></span> per esserti iscritto/a alla newsletter!</p>
        </div>
    </div>
</div>