
<footer>
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">         
            <img src="/common/image/icon.png" class="ui centered mini image" alt="icon"/> 
            <div class="ui horizontal small divided link list">
                <p class="item">© 2017 wikITT</p> 
                <a href="/terms-and-conditions/index.html" class="item">Terms and conditions</a>
                <a href="/info/index.html" class="item">About Us</a>
            </div>
        </div>
    </div>
</footer>