<!--
ISTRUZIONI PER INSERIRE IL FOOTER NELLE ALTRE PAGINE:

Tutto il contenuto della pagina deve essere contenuto all'interno di un <div class="wrapper">
con classe wrapper.

Il footer deve essere incluso fuori e dopo il <div class="wrapper"> con il comando:
#include virtual="/common/component/footer.html"
      
<!--
    ES:
    <div class="wrapper">
        <form>
            .. contenuto .. 
        </form>
    </div>
    #include virtual="/common/component/footer.html" 
-->
<style>
    .bounce {
        -webkit-animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        -o-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }
    @-webkit-keyframes bounce {
        0%, 100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        50% {
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
    @-moz-keyframes bounce {
        0%, 100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        50% {
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
    @-o-keyframes bounce {
        0%, 100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        50% {
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
    @keyframes bounce {
        0%, 100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        50% {
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }
    footer{ 
        border-top: 1px solid rgba(34,36,38,.15)!important;
        width: 100%;
        margin-top: 50px;
    }
    .font-color{
        color: white!important;
        color: black!important;
    }
    .responsive {
        width: 20%;
        margin-left: auto!important;
        margin-right: auto!important;

    }
    
    @media only screen and (max-width: 700px){
        .responsive {
            width: 49.99999%;
            margin: auto;
        }
    }
    @media only screen and (max-width: 500px){
        .responsive {
            width: 100%;
            margin: auto;
        }
    }
    .logo{
       width: 100px;
       height: 50px;
       margin-left: auto;
       margin-right: auto;
       display: block;
    }
    .torna-index{
        width: 10px!important;
        margin: auto!important;
        display: block;
        margin-bottom: 10px;
        display: block;
        position: absolute;
        left: 50%;  
    }
    .arrow_box {
        position: relative;
        border-top: 1px solid #cccccc;
    }
    .arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0px;
        width: 0px;
        position: absolute;
        pointer-events: none;
    }
    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 25px;
        margin-left: -25px;
    }
    .arrow_box:before {
        border-color: rgba(204, 204, 204, 0);
        border-bottom-color: #cccccc;
        border-width: 26px;
        margin-left: -26px;
    }
    .arrow {
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top: -20px;
        z-index: 1;
        cursor: pointer;
    }

    /*sticky footer*/
    .wrapper {
        min-height: calc(100vh - 165px);
    }
    footer {
        height: 50px!important;
        background-color: #ffffff;
    }
</style>

<script>
    $(document).ready(function () {
        $("#scroll-top").on("click", function() {
            $('html,body').animate({
                scrollTop: $("#header").offset().top
            },'slow');
        });
    });
</script>
<!--<footer class="arrow_box footer">-->
<footer class="footer">
    <img id="scroll-top" class="arrow bounce" src="/common/image/arrow-up-black.png" alt="Go up"/>
    <div class="responsive">
        <img src="/common/image/icon-large.png" class="logo" alt="wikITT_icon"/>
    </div>
    <div class="ui vertical footer segment" style="background-color: #ffffff;">
        <div class="ui center aligned container" >         
            <div class="ui horizontal small divided link list">
                <span class="item font-color">© 2017 wikITT</span> 
                <a href="/about/index.php" class="item font-color">About Us</a>
                <a href="/admin/index.php" class="item font-color">Admin</a>
                <a href="/aiutaci/index.php" class="item font-color">Aiutaci</a>
                <a href="/autore/index.php" class="item font-color">Autori</a>
                <a href="/cerca/index.php" class="item font-color">Cerca</a>
                <a href="/help/index.php" class="item font-color">Help</a>
                <a href="/supporto/index.php" class="item font-color">Supporto</a>
            </div>
        </div>
    </div>
</footer>
