
<div class="header">
    <div class="header-wrapper">
        <div class="brand">
            <a href="#">Logo</a>
        </div>
        <div class="nav-container">
            <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="/informatica/index.html">Informatica</a>
                </li>
                <li>
                    <a href="/meccanica/index.html">Meccanica</a>
                </li>
                <li>
                    <a href="/chimica/index.html">Chimica</a>
                </li>
                <li>
                    <a href="/elettrotecnica/index.html">Elettrotecnica</a>
                </li>
                <li>
                    <a href="/costruzioni/index.html">Costruzioni</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .header {
        height: 70px;
        background-color: #262626;
    }
    .header .header-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    /*Brand*/
    .header .brand {
        position: absolute;
        float: left;
        padding-left: 20px;
        line-height: 70px;
        text-transform: uppercase;
        font-size: 1.4em;
    }
    .header .brand a,
    .header .brand a:visited {
        color: #ffffff;
        text-decoration: none;
    }
    
    /*Header Container*/
    .header .nav-container { 
        float: right;
        font-size: 1.3em;
    }
    .header .nav-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .header .nav-container ul li {
        position: relative;
        float: left;
    }
    .header .nav-container ul li a,
    .header .nav-container ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 70px;
        text-decoration: none;
        background: #262626;
        color: #ffffff;
    }
    .header .nav-container ul li a:hover,
    .header .nav-container ul li a:visited:hover {
        background: #2581DC;
        color: #ffffff;
    }
    
    /*Mobile Navigation*/
    .header .nav-mobile {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        height: 70px;
        width: 70px;
        background: #262626;
    }
    
    @media only screen and (max-width: 799px) {
        .header .nav-mobile { display: block;}
        
        .header .nav-container {
            width: 100%;
            padding: 70px 0 15px;
        }
        .header .nav-container ul { display: none;}
        .header .nav-container ul li { float: none;}
        .header .nav-container ul li a {
            padding: 15px;
            line-height: 20px;
        }
    }
    @media screen and (min-width: 800px) {
        .header .nav-list { display: block !important;}
    }
    
    /*Nav-Toggle*/
    .header #nav-toggle {
        position: absolute;
        top: 22px;
        left: 18px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }
    .header #nav-toggle span,
    .header #nav-toggle span:before,
    .header #nav-toggle span:after {
        position: absolute;
        display: block;
        content: '';
        cursor: pointer;
        border-radius: 1px;
        width: 35px;
        height: 5px;
        background: #ffffff;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
    }
    .header #nav-toggle span:before { top: -10px;}
    .header #nav-toggle span:after { bottom: -10px;}
    /*Nav-Toggle Animation*/
    .header #nav-toggle.active span { background-color: transparent;}
    .header #nav-toggle.active span:before,
    .header #nav-toggle.active span:after { top: 0;}
    .header #nav-toggle.active span:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
    .header #nav-toggle.active span:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }
</style>
<script>
    $(document).ready(function() {
        // Toggle open and close nav styles on click
        $('.header #nav-toggle').click(function() {
            $('.header .nav-container ul').slideToggle();
        });
        // Hamburger to X toggle
        $('.header #nav-toggle').on('click', function() {
            this.classList.toggle('active');
        });
    });
</script>