
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    
    #header {
        position: relative;
        height: 70px;
        background-color: #ffffff;
        border: 1px solid rgba(34,36,38,.15);
        box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
        font-family: 'Roboto', 'sans-serif';
        -webkit-border-bottom-left-radius: .28571429rem;
        -moz-border-bottom-left-radius: .28571429rem;
        border-bottom-left-radius: .28571429rem;
        -webkit-border-bottom-right-radius: .28571429rem;
        -moz-border-bottom-right-radius: .28571429rem;
        border-bottom-right-radius: .28571429rem;
    }
    #header .header-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    /*Brand*/
    #header .brand {
        position: absolute;
        float: left;
        padding: 5px 20px;
        height: 70px;
    }
    #header .brand img {
        max-width: 100%;
        max-height: 100%;
    }
    
    /*Header Container*/
    #header .nav-container { 
        float: right;
    }
    #header .nav-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #header .nav-container ul li {
        position: relative;
        float: left;
    }
    #header .nav-container ul li a,
    #header .nav-container ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 68px;
        font-size: 1.2em;
        text-decoration: none;
        background: #ffffff;
        color: #262626;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
    }
    #header .nav-container li a:before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        margin-right: 0.25em;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
    }
    /*Link Hover Effect*/
    #header .nav-container ul li a:hover,
    #header .nav-container ul li a:visited:hover {
        color: #ffffff;
        background-color: #2581DC;
    }
    #header .nav-container ul li a:hover::before { border-color: #ffffff;}
    #header .nav-container ul li:nth-child(1) a:hover,
    #header .nav-container ul li:nth-child(1) a:before {
        background: #2185d0;
        background: linear-gradient(to bottom right, #2185d0, #59b0f2);
        background: -webkit-linear-gradient(left top, #2185d0, #59b0f2);
        background: -moz-linear-gradient(bottom right, #2185d0, #59b0f2);
        background: -o-linear-gradient(bottom right, #2185d0, #59b0f2);
    }
    #header .nav-container ul li:nth-child(2) a:hover,
    #header .nav-container ul li:nth-child(2) a:before {
        background: #21ba45;
        background: linear-gradient(to bottom right, #21ba45, #48f271);
        background: -webkit-linear-gradient(left top, #21ba45, #48f271);
        background: -moz-linear-gradient(bottom right, #21ba45, #48f271);
        background: -o-linear-gradient(bottom right, #21ba45, #48f271);
    }
    #header .nav-container ul li:nth-child(3) a:hover,
    #header .nav-container ul li:nth-child(3) a:before {
        background: #db2828;
        background: linear-gradient(to bottom right, #db2828, #ff6363);
        background: -webkit-linear-gradient(left top, #db2828, #ff6363);
        background: -moz-linear-gradient(bottom right, #db2828, #ff6363);
        background: -o-linear-gradient(bottom right, #db2828, #ff6363);
    }
    #header .nav-container ul li:nth-child(4) a:hover,
    #header .nav-container ul li:nth-child(4) a:before {
        background: #f2711c;
        background: linear-gradient(to bottom right, #f2711c, #fc934e);
        background: -webkit-linear-gradient(left top, #f2711c, #fc934e);
        background: -moz-linear-gradient(bottom right, #f2711c, #fc934e);
        background: -o-linear-gradient(bottom right, #f2711c, #fc934e);
    }
    #header .nav-container ul li:nth-child(5) a:hover,
    #header .nav-container ul li:nth-child(5) a:before {
        background: #a5673f;
        background: linear-gradient(to bottom right, #a5673f, #d8956a);
        background: -webkit-linear-gradient(left top, #a5673f, #d8956a);
        background: -moz-linear-gradient(bottom right, #a5673f, #d8956a);
        background: -o-linear-gradient(bottom right, #a5673f, #d8956a);
    }
    
    /*Mobile Navigation*/
    #header .nav-mobile {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        height: 70px;
        width: 70px;
        background: transparent;
    }
    
    @media only screen and (max-width: 849px) {
        #header .nav-mobile { display: block;}
        
        #header .nav-container {
            width: 100%;
            padding-top: 69px;
        }
        #header .nav-container .nav-list {
            position: absolute;
            width: 100%;
            z-index: 100;
            background-color: #ffffff;
            left: 0;
        }
        #header .nav-container ul { display: none;}
        #header .nav-container ul li { float: none;}
        #header .nav-container ul li a {
            padding: 15px;
            line-height: 20px;
            border-bottom: 1px solid rgba(34,36,38,.15);
            border-right: 1px solid rgba(34,36,38,.15);
            border-left: 1px solid rgba(34,36,38,.15);
        }
        #header .nav-container ul li:last-child a {
            box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
            border-bottom-left-radius: .28571429rem;
            border-bottom-right-radius: .28571429rem;
            -webkit-border-bottom-left-radius: .28571429rem;
            -webkit-border-bottom-right-radius: .28571429rem;
            -moz-border-bottom-left-radius: .28571429rem;
            -moz-border-bottom-right-radius: .28571429rem;
        }
    }
    @media screen and (min-width: 850px) {
        #header .nav-list { display: block !important;}
        #header .nav-container li:before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background: rgba(34,36,38,.1);
        }
        #header .nav-container li:first-child:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 1px;
            background: rgba(34,36,38,.1);
        }
    }
    
    /*Nav-Toggle*/
    #header #nav-toggle {
        position: absolute;
        top: 22px;
        left: 18px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }
    #header #nav-toggle span,
    #header #nav-toggle span:before,
    #header #nav-toggle span:after {
        position: absolute;
        display: block;
        content: "";
        cursor: pointer;
        border-radius: 1px;
        width: 35px;
        height: 5px;
        background-color: #1b1c1d;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
    }
    #header #nav-toggle span:before { top: -10px;}
    #header #nav-toggle span:after { bottom: -10px;}
    /*Nav-Toggle Animation*/
    #header #nav-toggle.active span { background-color: transparent;}
    #header #nav-toggle.active span:before,
    #header #nav-toggle.active span:after { top: 0;}
    #header #nav-toggle.active span:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
    #header #nav-toggle.active span:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
    }
</style>

<script>
    $(document).ready(function() {
        // Toggle open and close nav styles on click
        $('#header #nav-toggle').click(function() {
            $('#header .nav-container ul').slideToggle();
        });
        // Hamburger to X toggle
        $('#header #nav-toggle').on('click', function() {
            this.classList.toggle('active');
        });
    });
</script>

<div id="header">
    <div class="header-wrapper">
        <div class="brand">
            <a href="/index.html"><img src="/common/image/icon-medium.png" alt="wikITT"/></a>
        </div>
        <div class="nav-container">
            <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="/informatica/index.php">Informatica</a>
                </li>
                <li>
                    <a href="/meccanica/index.html">Meccanica</a>
                </li>
                <li>
                    <a href="/chimica/index.html">Chimica</a>
                </li>
                <li>
                    <a href="/elettrotecnica/index.html">Elettrotecnica</a>
                </li>
                <li>
                    <a href="/costruzioni/index.html">Costruzioni</a>
                </li>
            </ul>
        </div>
    </div>
</div>