
<div class="header-container">
    <ul class="header">
        <li><a href="">Informatica</a></li>
        <li><a href="">Chimica</a></li>
        <li><a href="">Meccanica</a></li>
        <li><a href="">Elettrotecnica</a></li>
        <li class="responsive-icon">
            <a href="javascript:void(0);" style="font-size: 15px;">
                <i class="content icon"></i>
            </a>
        </li>
    </ul>
</div>

<style>
    .header-container .header {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #E74C3C;
    }
    .header-container .header li {float: left;}
    .header-container .header li a {
        display: inline-block;
        padding: 14px 16px;
        text-decoration: none;
        text-align: center;
        color: white;
        background-color: #2980B9;
        font-size: 17px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
    }
    .header-container .header li a:hover {background-color: #1ABC9C;}
    .header-container .header .responsive-icon {display: none;}
    
    /*Media Query*/
    @media screen and (max-width:680px) {
        .header-container .header li:not(:first-child) {display: none;}
        .header-container .header li.responsive-icon {
            display: inline-block;
            float: right;
        }
    }
    @media screen and (max-width:680px) {
        .header-container .header.responsive {position: relative;}
        .header-container .header.responsive li.responsive-icon {
            position: absolute;
            top: 0;
            right: 0;
        }
        .header-container .header.responsive li {
            float: none;
            display: inline;
        }
        .header-container .header.responsive li a {
            display: block;
            text-align: left;
        }
    }
</style>

<script>
    $(document).ready(function() {
        $(".header-container .header li.responsive-icon").on("click", function() {
            var header = $(".header-container .header");
            if(!header.hasClass("responsive"))
                header.addClass("responsive");
            else
                header.removeClass("responsive");
        });
    });
</script>
